<!DOCTYPE html>
<html>
<head>
    <title>Online Exam</title>
</head>
<body>

<h2>Online Examination</h2>

<form method="post">
    {% csrf_token %}

    {% for question in questions %}
        <p><strong>{{ question.question_text }}</strong></p>

        <input type="radio" name="{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }} <br>
        <input type="radio" name="{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }} <br>
        <input type="radio" name="{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }} <br>
        <input type="radio" name="{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }} <br>

        <hr>
    {% endfor %}

    <button type="submit">Submit</button>
</form>

</body>
</html>
